.header {
    background-image: url("/header_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 780px;
    
    h1 { @apply text-[28px] sm:text-4xl md:text-5xl font-bold mb-1 }
    
    .gradetitle {      
        background: linear-gradient(90deg, rgba(52,35,242,0.9) 40%, rgba(242,235,171,1) 48%, rgba(255,49,98,1) 65%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        @apply mb-1 md:mb-2
    }

    span { @apply text-sm sm:text-base md:text-lg sm:text-gray text-gray font-semibold }

    @apply pt-[10rem] text-center
}

.titleBg {
    background:linear-gradient(20deg, rgba(242, 235, 171, 1) 10%, rgba(52, 35, 242, 1) 60%, rgba(255, 49, 98, 1) 100%);
    div { @apply bg-secondary rounded-xl h-full w-full z-0 }
    @apply rounded-xl p-[3px] z-0
}

.sectionOne {
    .cardContainer {
        background:linear-gradient(20deg, rgba(242, 235, 171, 1) 10%, rgba(52, 35, 242, 1) 60%, rgba(255, 49, 98, 1) 100%);
        @apply p-[3px] relative rounded-md h-[250px] w-[240px] self-center mx-auto mt-12 md:mt-0
    }
    .card {
        h1 { @apply text-xl font-bold mt-2 }
        p { @apply text-[15px] font-semibold mt-4 }
        i { @apply absolute text-4xl -top-6 right-1/2 translate-x-5 }
        
        .titleBg {
            @apply w-[120px] h-3 -mt-[10px]
        }
        
        @apply p-6 bg-secondary rounded-md w-full h-full text-left
    }
    .middleCard {
        .cardContainer { @apply h-[350px] }
        @apply order-first md:order-[unset]
    }
    .blur { @apply absolute -top-32 right-0 pointer-events-none }

    @apply mt-[-300px] md:mt-[-250px] block md:flex md:flex-wrap max-w-full justify-center gap-6 relative
}

.sectionTwo {
    .mainGrid { @apply block xl:grid xl:grid-rows-2 xl:grid-flow-col gap-8 mt-32 }
    
    .BTC { background-color: #F7931A; }
    .ETH { background-color: #4B6ED1; .learnMore { margin-top: 100px !important; } }
    .XRP { background-color: #23292F; }
    .AVAX { background-color: #E84142; }
    .BTC, .ETH, .XRP, .AVAX {
        .cryptoBorder { 
            background: linear-gradient(20deg, rgba(242, 235, 171, 1) 10%, rgba(52, 35, 242, 1) 60%, rgba(255, 49, 98, 1) 100%);
            @apply p-[4px] h-full w-full rounded-md
        }
        .cryptoContainer {
            h1 { @apply text-left font-extrabold text-3xl }
            .titleBg { @apply w-[120px] h-3 -mt-[12px] }
            .cryptoPrice { @apply mt-2 }
            .learnMore { 
                background: linear-gradient(20deg, rgba(242, 235, 171, 1) 10%, rgba(52, 35, 242, 1) 60%, rgba(255, 49, 98, 1) 100%);
                div { @apply p-2 bg-secondary rounded-t-md }
                @apply absolute p-[4px] -bottom-1 left-7 rounded-t-md cursor-pointer
            }
            @apply p-8 py-6 h-full w-full rounded-md bg-secondary relative
        }
        @apply p-[10px] h-full w-full rounded-md mt-6 2xl:mt-0
    }
    .XRP, .AVAX { 
        .cryptoContainer { 
            .cryptoPrice { @apply mb-8 lg:mb-8 xl:mb-0 } 
        }
    }

    .blur { @apply absolute top-20 right-0 pointer-events-none rotate-180 }
    .graphVector { @apply absolute top-0 right-16 sm:right-0 sm:-top-4 sm:left-0 mx-auto translate-x-16 rotate-[-3.5deg] pointer-events-none }
    .purpleBlur { @apply absolute -right-[640px] -top-64 pointer-events-none }
    @apply mt-32 py-10 relative w-[85%] 2xl:w-full mx-auto
}

.sectionThree {
    h1 { @apply text-neutral text-opacity-80 mb-4 }
    div { @apply w-full md:w-[60%] mx-auto }
    .imageContainer { 
        @apply block relative w-full h-full mx-auto self-center justify-center text-center
    }
    @apply py-32
}

.sectionFour {
    h1 { @apply text-secondary font-extrabold text-[28px] sm:text-4xl md:text-4xl }
    span { @apply text-sm sm:text-base md:text-lg sm:text-gray text-gray font-semibold }
    @apply bg-primary rounded-xl w-10/12 mx-auto py-10 px-20 text-center
}

.title { @apply text-3xl sm:text-4xl text-center font-bold }

@media (min-width: 2100px) {
    .header { background-image: url("/xxl_header_bg.png"); }
}

@media (min-width: 1060px) and (max-width: 1280px) {
    .BTC, .ETH, .XRP, .AVAX {
        .cryptoContainer {
            .cryptoPrice{ @apply mb-8 }
        }
    }
}
