.header {
    background-image: url("/header_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 780px;
    
    h1 { @apply text-5xl font-bold mb-1 }
    
    .gradetitle {      
        background: linear-gradient(90deg, rgba(52,35,242,0.9) 40%, rgba(242,235,171,1) 48%, rgba(255,49,98,1) 65%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        @apply mb-3
    }

    span { @apply text-lg text-gray font-semibold }

    @apply pt-[10rem] text-center
}

.sectionOne {
    .cardContainer {
        background:linear-gradient(20deg, rgba(242, 235, 171, 1) 10%, rgba(52, 35, 242, 1) 60%, rgba(255, 49, 98, 1) 100%);
        @apply p-[3px] relative rounded-md h-[250px] w-[240px] self-center 
    }
    .card {
        h1 { @apply text-xl font-bold mt-2 }
        p { @apply text-[15px] font-semibold mt-4 }
        i { @apply absolute text-4xl -top-6 right-1/2 translate-x-5 }
        
        .titleBg {
            background:linear-gradient(20deg, rgba(242, 235, 171, 1) 10%, rgba(52, 35, 242, 1) 60%, rgba(255, 49, 98, 1) 100%);
            div { @apply bg-secondary rounded-xl h-full w-full z-0 }
            @apply rounded-xl w-[120px] h-3 p-[3px] -mt-[10px] z-0
        }
        
        @apply p-6 bg-secondary rounded-md w-full h-full text-left
    }
    .middleCard {
        .cardContainer { @apply h-[350px] }
    }

    @apply mt-[-225px] flex flex-row flex-wrap max-w-full justify-center gap-x-8
}


@media (min-width: 2100px) {
    .header { background-image: url("/xxl_header_bg.png"); }
}