.coinContainer { @apply flex p-5 px-6 cursor-pointer hover:bg-primary hover:bg-opacity-5 }

.id { width: 110px; @apply flex-grow relative flex items-center }
.name { width: 450px; @apply flex-grow flex items-center }
.price { width: 300px; @apply flex-grow flex items-center }
.day { width: 200px; @apply flex-grow flex items-center }
.marketCap { width: 350px; @apply flex-grow hidden lg:flex items-center }