.coinContainer { @apply flex bg-info my-2 cursor-pointer }

.id { width: 100px; @apply text-left }
.name { width: 400px; @apply text-left }
.price { width: 300px; @apply text-left }
.day { width: 200px; @apply text-left }
.marketCap { width: 400px; @apply text-left hidden lg:block }